[Desktop Entry]
Encoding=UTF-8
Name=Link to https://my-live-03.slatic.net/p/2/huawei-honor-4c-black-1450952227-8471361-3-zoom.jpg
Type=Link
URL=https://my-live-03.slatic.net/p/2/huawei-honor-4c-black-1450952227-8471361-3-zoom.jpg
Icon=image-jpeg
