[Desktop Entry]
Encoding=UTF-8
Name=Link to Unlock Samsung SHV-E310S, SHV-E310K, SHV-E310L, Galaxy Mega
Type=Link
URL=https://imagineunlock.com/1196-large_default/unlock-samsung-shv-e310s-shv-e310k-shv-e310l-galaxy-mega.jpg
Icon=image-jpeg
